= form_for [:admin, @page] do |f|
  - if @page.errors.any?
    #error_explanation
      %h2
        #{pluralize(@event.errors.count, "error")} prohibited this event from being saved
      
      %ul
        - @event.errors.full_messages.each do |msg|
          %li
            = msg
  .field
    = f.label :title
    = f.text_field :title
  
  .field
    = f.label :permalink
    = f.text_field :permalink
  
  .field
    = f.label :content
    = f.text_area :content
  
  .actions
    = f.submit
