<% content_for :page_title, "Admin::Events" %>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>When:</b>
  <%= @event.start_at %>
</p>

<p>
  <b>Where:</b>
  <%= @event.place_name %>
</p>

<p>
  <b>Address:</b>
  <%= @event.address %>
</p>


<%= link_to 'Edit', edit_admin_event_path(@event) %> |
<%= link_to 'Back', admin_events_path %>
