!!!
%html
  %head
    %meta{:charset=>"utf-8"}/
    %title= yield :page_title
    = stylesheet_link_tag 'administration'
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"
    = javascript_include_tag 'rails'
    = csrf_meta_tag
  %body
    %header
      %h1
        = yield :page_title

    %nav
      %ul
        %li
          =link_to I18n.t('admin.index.index'), admin_root_path
        %li
          =link_to I18n.t('admin.events.index'), admin_events_path
        %li
          =link_to I18n.t('admin.pages.index'), admin_pages_path
        %li
          =link_to I18n.t('admin.posts.index'), admin_posts_path

    %section{:id => "content"}
      = find_and_preserve(yield)

