%div{:class => "prefix_2 grid_8"}
  %div{:style => 'float:left', :class => ''}
    %h2{:style => 'text-align: center'}
      = I18n.t('.lyonrb.meetup_location')
    = image_tag event_map_url(@next_event)
  %div{:class => "prefix_1 grid_6 big5"}
    = render :partial => @next_event.nil? ? 'events/no_next' : 'events/home'

  %div{:class => "prefix_1 grid_6 big5", :style => 'padding-top: 30px;'}
    %img{:src => '/images/rulu.png', :style => 'float: left; padding-right: 5px;' }
    We're doing an awesome Ruby Conference June 25-26.<br />
    That's called
    = link_to 'RuLu', 'http://rulu.eu'
    be sure to check it out !

%div{:class => 'prefix_2 grid_8', :style => 'margin-top: 40px'}
  %section{:id => 'members-list', :class => "grid_6 big5", :style => 'margin: 0px; width:300px;float:left'}
    %h2{:style => 'text-align: center'}
      = I18n.t('.lyonrb.people')
    %ul
      - @members.each do |member|
        %li
          %a{:href => "http://github.com/#{member.login}", :title =>  member.name || member.login}
            = image_tag member.avatar, :height => 90, :width => 90, :alt => member.name || member.login

  %section{:id => 'projects-list', :class => "prefix_1 grid_6 big5"}
    %h2{:style => 'text-align: center'}
      = I18n.t('.lyonrb.projects')
    %ul
      - @projects.each do |project|
        %li
          %a{:href => project.homepage, :title => project.name}
            = project.name
          = project.description
