%div{:class => "grid_12", :style => "margin-top: 40px;"}
  %div{:class => "grid_6", :style => "text-align:right;"}
    = image_tag event_map_url(@next_event)
  %div{:class => "grid_3", :style => "text-align:center;"}
    = render :partial => @next_event.nil? ? 'events/no_next' : 'events/home'
  %div{:class => "grid_3"}
    &nbsp;

%div{:class => "container_12", :style => "margin-top: 40px"}
  %section{:id => 'members-list', :class => "grid_3 big4"}
    %h2{:style => 'text-align: center'}
      = I18n.t('.lyonrb.people')
    %ul
      - @members.each do |member|
        %a{:href => "http://github.com/#{member.login}", :title =>  member.name || member.login}
          %li
            = image_tag member.avatar, :height => 50, :width => 50, :alt => member.name || member.login

  %section{:id => 'projects-list', :class => "grid_3 big4"}
    %h2{:style => 'text-align: center'}
      = I18n.t('.lyonrb.projects')
    %ul
      - @projects.each do |project|
        %li
          %a{:href => "http://github.com/lyonrb/#{project.name}", :title =>  project.name}
            = project.name
          = project.description
  
  %section{:id => 'posts-list', :class => "grid_3 big4"}
    %h2{:style => 'text-align: center'}
      = I18n.t('.lyonrb.blog.last_posts')
    %ul
      - @posts.each do |post|
        %li
          = link_to post do
            = post.title
  
  %section{:class => "grid_3 big4"}
    %h2{:style => 'text-align: center'}
      = I18n.t('.lyonrb.companies')
  
  %section{:id => 'events-list', :class => "grid_3 big4"}
    %h2{:style => 'text-align: center'}
      = I18n.t('.lyonrb.events')
    = render :partial => 'events/recent'
