%ol
  - @recent_events[:upcoming].each do |event|
    %li
      %p
        = event.name
      %p
        #{event.place_name}, #{event.address}
      %p
        = I18n.l event.start_at, :format => :long
%h3{:id => 'previously-on'}
  Previously, on Lyon.rb…
%ol
  - @recent_events[:past].each do |event|
    %li
      %p
        = event.name
      %p
        = I18n.l event.start_at.to_date, :format => :long
