= form_for [:admin, @post] do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        #{pluralize(@post.errors.count, "error")} prohibited this post from being saved
      
      %ul
        - @post.errors.full_messages.each do |msg|
          %li
            = msg
  .field
    = f.label :title
    = f.text_field :title
    
  .field
    = f.label :published
    = f.check_box :published
  
  .field
    = f.label :published_at
    = f.datetime_select :published_at
  
  .field
    = f.label :category_id
    = f.select :category_id, Category.all.map {|c| [c.title, c.id]}
  
  .field
    = f.label :content
    = f.text_area :content
  
  .actions
    = f.submit