{{view SC.TemplateView templateName="header" tagName="header" class="row"}}

{{view SC.TemplateView templateName="meetup" id="meetup" class="row centered"}}

<div id="panels" class="row">
{{view SC.TemplateView templateName="users-list" tagName="section" id="users-list" class="eight columns"}}

{{view SC.TemplateView templateName="repositories-list" tagName="section" id="repositories-list" class="four columns"}}
</div>

{{view SC.TemplateView templateName="footer" tagName="footer" class="row"}}
