{{view SC.TemplateView templateName="header" tagName="header"}}

<div id="meetup">{{view SC.TemplateView templateName="meetup" tagName="section" id="meetup"}}</div>

<div id="panels">
{{view SC.TemplateView templateName="users-list" tagName="section" id="users-list"}}

{{view SC.TemplateView templateName="repositories-list" tagName="section" id="repositories-list"}}
</div>

{{view SC.TemplateView templateName="footer" tagName="footer"}}
